* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --bg-color-2: rgba(255, 255, 255, 0.8);
  --third-color: #eee8a9;
  --fourth-color: #f3efc7;
  --text-color: black;
  --darker-text-color: #111111;
  --faded-text-color: #4d5052;
  --light-text-color: white;
  --main-green: rgb(0, 98, 87);
  --second-green: #05af60;
  --third-green: #38A225;
  --heading-font: 2.25rem;
  --big-font: 5rem;
  --medium-font: 2rem;
  --small-font: 1.5rem;
  --smaller-font: 1rem;
  --p-font-size: 1.1rem;
  --p-font-weight: 400px;
  --p-line-height: 1.4;
  --spacer: 1rem;
  --spacer-big: 12rem;
}

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-green);
  border-radius: 100vw;
  border: 0.1em solid hsl(120 50% 50% / 1);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 5% / 1);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: hsl(120 100% 10% / 1) hsl(120 50% 50% / 1);
  }
}

body {
  overflow-x: hidden;
}

a {
  font-size: var(--smaller-font);
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  color: var(--light-text-color);
  line-height: 10px;
  margin: 10px 12px;
}

a:hover {
  color: var(--second-green);
  text-decoration: underline;
  padding-left: 8px;
  cursor: pointer;
}

span,
.span,
a.active-item {
  color: var(--second-green);
}

a.active-item:hover,
.nav-link {
  color: var(--dark-text-color);
}

.btn {
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  padding: 10px;
  font-size: var(--smaller-font);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--light-text-color);
  background-color: var(--main-green);
}

.btn:hover {
  outline: none;
  transform: scale(1.05);
  background: var(--second-green);
  color: var(--bg-color);
  box-shadow: 0px 0px 10px 3px var(--third-color);
}

.p-text {
  font-family: "Poppins", sans-serif;
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  line-height: var(--p-line-height);
  color: var(--text-color);
}

#p-descriptions {
  margin-top: 4rem;
  color: var(--faded-text-color);
}

.title {
  font-size: var(--heading-font);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: var(--dark-text-color);
  margin-bottom: var(--spacer);
}

hr {
  width: 90%;
  border-bottom: 1px solid var(--bg-color);
  margin: 10px auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 8vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2px 7%;
  background-image: linear-gradient(
    to right,
    var(--third-color),
    var(--third-color),
    var(--bg-color-2),
    var(--bg-color-2)
  );
  backdrop-filter: blur(0.5px);
  z-index: 1000;
}

header:hover {
  background-image: linear-gradient(to right, #ffffff, var(--fourth-color));
  border-bottom: 1px solid var(--second-green);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

#logo,
#hamburger,
.section,
.small-section {
  flex-direction: column;
}

#logo {
  margin-top: 4px;
}

.logo-img {
  max-width: 60px;
  max-height: 60px;
}

.nav-item {
  color: var(--darker-text-color);
}

#nav-menu.active {
  right: 0;
}

.nav-link,
#in-touch,
#in-touch > li > a {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 20px;
}

.nav-link {
  font-size: 16px;
}

#hamburger {
  display: none;
  cursor: pointer;
}

#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 3px;
  margin: 2px auto;
  background-color: var(--darker-text-color);
}

.section,
.small-section,
.flex-container {
  display: flex;
}

.section,
.small-section {
  text-align: center;
  padding: 1% 7%;
  margin-bottom: 20px;
}
.section {
  min-height: 100vh;
  background-color: white;
}

.small-section {
  height: fit-content;
  padding-bottom: calc(var(--spacer) + 2rem);
}

.small-section > h1 {
  color: var(--main-green);
}

#home-section {
  padding: 1% 0 1% 7%;
  max-height: 105vh;
  overflow: hidden;
  background-color: var(--third-color);
}
/* Animation */
.fade{
  -webkit-animation: fade_animation 2s ease-out, move_animation 2s ease-in-out;
  animation: fade_animation 2.5s ease-out, move_animation 2s ease-in-out; 
}
@-webkit-keyframes move_animation{
  0%{
  transform: translateY(30%);
  }
   100%{
    transform: translateY(0);
  }
}
@keyframes move_animation{
  0%{
  transform: translateY(30%) scale(.9);
  }
   100%{
    transform: translateY(0);
  }
}

@-webkit-keyframes fade_animation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_animation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.home-text {
  width: 52%;
  text-align: left;
  justify-content: center;
  padding: 17% 2% 1% 0;
}

.home-buttons {
  margin: 5rem 0 2rem 0;
  color: var(--darker-text-color);
}

.play-btn {
  background: none;
  border: none;
  color: var(--darker-text-color);
}
.play-btn:hover{
  padding-left: 0;
}
.fa-play {
  background: var(--second-green);
  color: white;
  border-radius: 50%;
  padding: 2%;
}

.fa-play:hover {
  box-shadow: 0 0 0 5px var(--light-text-color);
  transform: scale(1.2);
}

.home-images {
  width: 47%;
}

.home-images > #image-holder {
  height: 90vh;
  border-radius: 2% 2% 2% 45%;
  overflow: hidden;
  box-shadow: 22px 21px 33px 0px var(--third-green) ;
}

.home-images > #image-holder > img,
.span-vectors {
  position: relative;
}

.home-images > #image-holder > img {
  border-radius: 2% 2% 2% 45%;
  height: 100vh;
  width: 100vh;
  object-fit:cover;
  z-index: 1;
}

#span-lines {
  bottom: 20%;
  right: 31%;
}

#span-dots {
  bottom: 32%;
  right: -32%;
}

#polygon {
  bottom: 82%;
  right: 45%;
}

.media-scroller {
  padding: var(--spacer) var(--spacer) var(--spacer);
  margin-top: var(--spacer-big);
  gap: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  border: 2px solid hotpink;
  grid-auto-columns: 90%;
}

.media-group {
  border: 2px solid limegreen;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  border-radius: 5px;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

.media-element > img {
  border-radius: 8px;
  inline-size: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 47%;
  top: calc(100% - 8rem);
  background: #f0f6f5;
  text-align: left;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-30px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  opacity: 0.8;
  transform: translateY(0);
  pointer-events: auto;
  padding: var(--spacer);
}
.dropdown-list > li{
  margin-bottom: 5px;
}
#testimonial-section {
  background: var(--third-color);
}

.testimonial {
  background: var(--bg-color);
  text-align: left;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 1% 1% 3% 2%;
  word-wrap: normal;
}
.testimonial-header{
  justify-content: space-between;
}

.profile-picture {
  position: relative;
  top: -20%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 4px;
}

#testimonial-quote {
  font-size: 5rem;
  color: var(--second-green);
}
.testimonial-header-text {
  padding: 8%;
}

.testimonial-header-text > #location {
  color: var(--faded-text-color);
}

.testimonial-text {
  padding: 0 2% 2% 5%;
}

#gallery-section {
  text-align: left;
  padding: 0 2% 2% 2%;
}

#gallery-images {
  display: grid;
  column-gap: 4px;
  grid-auto-flow: column;
}

#gallery-images > .gallery-image {
  flex-basis: 20%;
}

#gallery-images > .gallery-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 1s ease;
}

#gallery-images > .gallery-image > img:hover {
  transform: scale(1.2);
}

#gallery-images > .small-image {
  margin-top: 20vh;
  height: 48vh;
}

#gallery-images > .two-image {
  flex-direction: column;
  margin: 24px 0;
}

#gallery-images > .two-image > img {
  height: 49%;
}

#contact-section,
#contact-form {
  align-items: center;
  text-align: center;
  justify-content: center;
}

#contact-section {
  position: relative;
  max-height: 80h;
  background-color: #fafbfa;
}

#contact-section > img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  object-fit: cover;
  mix-blend-mode: darken;
}

#contact-section > #contact-form {
  position: absolute;
  border-radius: 8px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  color: var(--dark-text-color);
  padding: 1% 2% 4% 2%;
}

.form-header {
  margin-left: -55%;
  margin-bottom: 60px;
  color: var(--second-color);
}

#textarea,
.form-input {
  border-bottom: 1px solid var(--faded-text-color);
  padding: 8px 8px;
  background-color: var(--bg-color);
}

#textarea {
  border: 1px solid var(--faded-text-color);
  margin: 10px 10px 10px 30px;
  height: 120px;
  border-radius: 20px;
  width: 90%;
}

.form-input {
  min-height: 40px;
  width: 80%;
  font-size: var(--smaller-font);
  border-radius: 2px;
}

#textarea:focus,
.form-input:focus {
  padding-left: 12px;
  border: 2px solid var(--second-green);
  border-radius: 8px;
  margin-top: 8px;
}

#contact-btn {
  margin: 2% 0 0 0;
  padding: 10px 25px;
}

/* -- Footer -- */
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--darker-text-color);
  color: var(--light-text-color);
  padding: 4% 8%;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

#footer-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#footer-logo {
  margin-bottom: 20px;
}

#footer-head > #newsletter {
  width: 70%;
  text-align: left;
  color: var(--light-text-color);
}

#footer-head > #newsletter > #newsletter-text > h3 {
  width: fit-content;
  position: relative;
  font-size: var(--small-font);
  margin-bottom: 12px;
}

#newsletter-text > p {
  margin: 10px auto;
}

#footer-head > #newsletter > #newsletter-action > form > input {
  width: 300px;
  margin: 10px;
  border-radius: 12px;
}

footer > .row {
  width: 100%;
  margin: 4px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer > .row > .footer-col {
  flex-basis: auto;
  padding: 10px;
}

footer > .row > .footer-col > h3 {
  width: fit-content;
  margin: 0px 0 40px 0;
  position: relative;
}

footer > .row > .footer-col > ul > li {
  margin-bottom: 10px;
}

.footer-links > li > a {
  margin-left: 0;
}

#in-touch,
#in-touch > li > a {
  margin: 0 0 4px 0;
}

footer > .row > .footer-col > form {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--second-green);
  margin-bottom: 50px;
}

footer > .row > .footer-col > form > .far {
  font-size: var(--small-font);
  margin-right: 10px;
}

footer > .row > .footer-col > .socials > .fa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: var(--small-font);
  color: var(--light-text-color);
  background: var(--bg-color-2);
  margin-right: 5px;
  transition: 0.5s ease-in-out;
}

footer > .row > .footer-col > .socials > .fa:hover {
  background: var(--light-text-color);
  color: var(--darker-text-color);
  text-decoration: underline;
}

footer > .row > .footer-col > .socials > .fa-whatsapp {
  background: var(--second-green);
}

footer > .row > .footer-col > .socials > .fa-twitter {
  background: rgba(60, 60, 255, 0.774);
}

footer > .row > .footer-col > .socials > .fa-facebook {
  background: rgb(105, 105, 211);
}

footer > .row > .footer-col > .socials > .fa-instagram {
  background: rgb(204, 73, 204);
}

footer > .copyright {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
}

.underline-text {
  width: 100%;
  height: 3px;
  background: var(--third-color);
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
  margin: auto;
}

.underline-text > span {
  width: 18px;
  height: 100%;
  background: var(--second-green);
  position: absolute;
  top: 0;
  right: -10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    right: 20px;
  }

  0% {
    right: 100%;
  }
}

@media (max-width: 768px) {
  header {
    background-image: linear-gradient(
      to right,
      var(--third-color),
      var(--bg-color-2)
    );
  }
  header:hover {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  #nav-menu {
    justify-content: space-around;
  }

  .section {
    min-height: auto;
    padding-bottom: calc(var(--spacer) + 2rem);
  }
  #home-section{
    padding-left: 0;
  }

  #home-container {
    flex-direction: column;
    max-height: 105vh;
  }

  .home-sub-containers {
    width: auto;
    height: 100%;
  }

  .home-text {
    position: absolute;
    padding-left: 3%;
    padding-top: 50%;
    z-index: 1;
  }
  .home-text > #home-description{
    font-size: calc(var(--heading-font) - .25rem);
  }

  #image-holder {
    opacity: 0.2;
  }

  #hamburger {
    display: flex;
    flex-direction: column;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
     background-color: var(--main-green);
    width: 98%;
    margin-top: var(--spacer);
    min-height: 50vh;
    border-radius: 100px;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    color: var(--light-text-color);
  }
  .media-scroller {
    grid-auto-columns: 93%;
    margin-top: 2rem;
  }
  #gallery-images {
    grid-auto-flow: column;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .gallery-image {
    width: 82vw;
  }

  #contact-section > img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: darken;
  }

  #contact-section > #contact-form {
    width: 80%;
  }

  footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  footer > .row,
  #footer-head {
    flex-direction: column;
    width: 100%;
    padding-left: 4%;
  }

  footer > .row > #footer-head > #newsletter > #newsletter-text > h3 {
    font-size: 20px;
  }

  footer > .row > #footer-head > #newsletter > #newsletter-text > p {
    text-align: left;
  }
}
